h1 {
    font-weight: bold;
    font-family: monospace ;
    font-variant: small-caps;
    font-size: 50px;
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

body{
    background-image: linear-gradient(rgb(194, 117, 94), lightgrey);;
    font-family: monospace;
    font-variant: small-caps;
    font-size: 20px;
    margin: 10px 40px;
    padding-bottom:300px;
}

.info{
    text-align: center;
    margin: 0 400px;
    line-height: 1.5;
}

img {
   display: block;
   margin: 50px auto; 
   border-radius: 2%;
   border-style: dotted;

} 
